<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>
  <div class='users-form-container item'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'>Acesse a plataforma</h1>
      <p class='users-form-subtitle'>Faça login ou registre-se para começar a fazer suas raracoins valerem!</p>
    </div>

    <div class="users-form-field">
      <%= f.label :email, class: "users-input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'users-input-field', placeholder: 'Digite seu e-mail' %>
    </div>

    <div data-controller="password-visibility" class="users-input-container">
      <%= f.label :password, class: "users-input-label"%>

      <div class="users-input-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Digite sua senha', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>

    <div class='flex justify-between'>
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center gap-2">
          <%= f.check_box :remember_me, class: 'users-checkbox-field' %>
          <%= f.label 'Lembre-se de mim', class: "users-input-label" %>
        </div>
      <% end %>
      <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "users-form-link" %>
    </div>

    <%= f.button class: 'users-form-submit-container' do %>
      <%= inline_svg_tag 'icons/solid/lock-closed.svg', class: 'w-4 h-8 text-primary-800' %>
      <span>Login</span>
      <div class='w-4 h-8'></div>
    <% end %>

    <div class='flex items-end gap-1 text-sm justify-start'>
      <span>Não tem uma conta?</span>
      <%= link_to "Cadastre-se!", new_user_registration_path, class: "users-form-link" %>
      <span>ou</span>
      <%= link_to "Reenvie confirmação!", new_user_registration_path, class: "users-form-link" %>
    </div>
  <% end %>
</div>
