<nav class="bg-primary-600 h-24 px-16 flex justify-between items-center">
  <%= link_to root_path do %>
    <%= inline_svg_tag 'logo.svg', class: 'w-[120px] text-primary-100 hover:text-primary-300 transition duration-200 ease-in-out"
    ' %>
  <% end %>
  <div class="flex gap-4">
    <%= link_to :classroom, admin_classrooms_path, class: "menu-item#{'-active' if request.path.include?('/classrooms')}" %>
    <%= link_to :investiments, admin_investments_path, class: "menu-item#{'-active' if request.path.include?('/investiments')}" %>
    <%= link_to :users, admin_users_path, class: "menu-item#{'-active' if request.path.include?('/users')}" %>
  </div>
  <div class="flex justify-end items-center gap-4 min-w-[120px]">
    <%= link_to admin_users_path, class: "menu-button" do %>
      <%= inline_svg_tag 'icons/solid/plus-small.svg', class: 'w-4 h-4' %>
      <span class="pr-2">
          Saldo
      </span>
    <% end %>
    <%= button_to destroy_user_session_path, method: :delete, class: 'icon-button mt-1' do %>
      <%= inline_svg_tag 'icons/solid/cog-8-tooth.svg', class: 'w-8 h-8' %>
  <% end %>
  </div>
</nav>