<div id="<%= dom_id classroom %>">
  <p><strong>Nome:</strong> <%= classroom.name %></p>
  <p><strong>Data de Início:</strong> <%= classroom.start_date.strftime('%d/%m/%Y') %></p>
  <p><strong>Data de Término:</strong> <%= classroom.end_date.strftime('%d/%m/%Y') %></p>

  <% classroom.users.each do |user| %>
    <%= user.name %>
  <% end %>
</div>
