<div id="<%= dom_id classroom %>">
  <div >
    <table >
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.start_date') %></th>
          <th><%= t('.end_date') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= classroom.name %></td>
          <td><%= classroom.start_date.strftime('%d/%m/%Y') %></td>
          <td><%= classroom.end_date.strftime('%d/%m/%Y') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div >
    <table >
      <thead>
        <tr>
          <th><%= t('.students') %></th>
        </tr>
      </thead>
      <tbody>
        <% classroom.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
