<h1><%= t('.classroom') %></h1>

 <%= search_form_for @q, url: admin_classrooms_path do |f| %>
    <%= f.label :name_cont, 'Nome:' %>
    <%= f.search_field :name_cont %>

    <%= f.label :start_date_eq, 'Data de Início:' %>
    <%= f.date_field :start_date_eq %>

    <%= f.label :end_date_eq, 'Data de Vencimento:' %>
    <%= f.date_field :end_date_eq %>

    <%= f.submit %>
    <%= button_tag 'Limpar Filtros', type: :button, onclick: 'window.location.href = window.location.pathname' %>
  <% end %>

<% if @classrooms.blank? %>
  <p> <%= t('.no_classrooms') %> </p>
<% end %>

<div id="classrooms">
  <table >
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.start_date') %></th>
        <th><%= t('.end_date') %></th>
      </tr>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom| %>
        <tr>
          <td><%= classroom.name %></td>
          <td><%= classroom.start_date.strftime('%d/%m/%Y') %></td>
          <td><%= classroom.end_date.strftime('%d/%m/%Y') %></td>
          <td>
            <div>
              <%= link_to t('.details'), admin_classroom_path(classroom), method: :show %>

              <%= link_to t('.edit'), edit_admin_classroom_path(classroom)%>
              <%= button_to t('.delete'), admin_classroom_path(classroom), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure you want to delete this classroom?"} %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('.new_classroom'), new_admin_classroom_path %>
