<div class='table-view'>
  <div class='flex items-end justify-between w-full'>
    <h1 class='flex items-center gap-4 table-header-title'>
      <%= @classroom.name %>
      <%= link_to edit_admin_classroom_path(@classroom) do %>
        <%= inline_svg_tag 'icons/outline/pencil.svg', class: 'table-link-plus w-4 h-4' %>
      <% end %>
      <span></span>
    </h1>
    <div class='flex gap-4'>
      <div class='flex gap-2 table-header-subtitle'>
        <strong><%= t('classrooms.form.start_date') %>:</strong>
        <span><%= l(@classroom.start_date, format: :default) %></span>
      </div>
      |
      <div class='flex gap-2 table-header-subtitle'>
        <strong><%= t('classrooms.form.end_date') %>:</strong>
        <span><%= l(@classroom.end_date, format: :default) %></span>
      </div>
    </div>
  </div>

  <div id="classrooms" class="table-container">
    <div class="table-inner">
      <% if @classroom.users.empty? %>
        <div class="flex justify-center p-4 bg-white text-primary-800">
          <strong class='text-primary-800'> <%= t('others.blank') %></strong>
        </div>
      <% else %>
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr class="table-header-container" >
              <th class="w-4/12 px-4 py-2"><%= t('classrooms.show.students') %></th>
              <th class="px-4 py-2 w-4/8"><%= t('users.form.email') %></th>
              <th class="px-4 py-2 w-3/8">CPF</th>
              <th class="flex justify-center px-4 py-2 w-1/8">
                <%= link_to edit_admin_classroom_path(@classroom) do %>
                  <%= inline_svg_tag 'icons/solid/plus-circle.svg', class: 'table-link-plus w-8 h-8' %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y">
            <% @classroom.users.each do |student| %>
              <tr class="text-gray-700">
                <td class="px-8 py-3">
                  <div class='flex items-center gap-4'>
                  </div>
                  <%= student.name %>
                </td>
                <td class="px-8 py-3"><%= student.email %></td>
                <td class="px-8 py-3"><%= student.cpf %></td>
                <td class="flex justify-center px-8 py-3 menu-dropdown-container">
                  <%= link_to edit_admin_user_path(student), class: 'details-menu-dropdown-item' do %>
                    <%= inline_svg_tag 'icons/outline/pencil.svg', class: 'w-2 h-2' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
