<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>

  <div class="field">
    <%= f.label :email, class: 'users-input-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'users-input-field' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
