<%= form_with(model: @investment, url: admin_investments_path) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @investment } %>

  <div>
    <%= form.hidden_field :approver_id, value: @approver_id %>

    <h2><%= t('.investment_registration') %></h2>
    <div>
      <%= form.label :name, t('.name') %>
      <%= form.text_field :name %>

    <div>
      <%= form.label :minimum_amount, t('.minimum_amount') %>
      <%= form.number_field :minimum_amount, min: 0 %>
    </div>

    <div>
      <%= form.label :start_date, t('.start_date') %>
      <%= form.date_field :start_date, min: Date.current %>
    </div>

    <div>
      <%= form.label :expiration_date, t('.expiration_date') %>
      <%= form.date_field :expiration_date, min: Date.current %>
    </div>

    <div>
      <%= form.label t('.index') %>
      <%= form.collection_select(:indicator_id, Indicator.all, :id, :name_with_rate, { prompt: t('.select_field') }) %>

    </div>

    <div>
      <%= form.label :premium, t('.category') %>
      <%= form.radio_button :premium, true %> <%= form.label :premium, 'Premium' %>
      <%= form.radio_button :premium, false %> <%= form.label :premium, 'Free' %>
    </div>

    <div>
      <%= link_to t('.cancel'), admin_investments_path %>
      <%= form.submit t('.submit') %>
    </div>
  </div>
<% end %>
