<%= form_with(model: @investment, url: admin_investments_path) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @investment } %>

  <div>
    <%= form.hidden_field :approver_id, value: @approver_id %>

    <h2>Investment Register Form</h2>
    <div>
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name %>

    <div>
      <%= form.label :minimum_amount, 'Minimum Amount' %>
      <%= form.number_field :minimum_amount, min: 0 %>
    </div>

    <div>
      <%= form.label :start_date, 'Start Date' %>
      <%= form.date_field :start_date, min: Date.current %>
    </div>

    <div>
      <%= form.label :expiration_date, 'Expiration Date' %>
      <%= form.date_field :expiration_date, min: Date.current + 1 %>
    </div>

    <div>
      <%= form.label 'Index' %>
      <%= form.collection_select(:indicator_id, Indicator.all, :id, :name_with_rate, { prompt: 'Selecione...' }) %>

    </div>

    <div>
      <%= form.label :premium, 'Category' %>
      <%= form.radio_button :premium, true %> <%= form.label :premium, 'Premium' %>
      <%= form.radio_button :premium, false %> <%= form.label :premium, 'Free' %>
    </div>

    <div>
      <%= link_to "Cancel", admin_investments_path %>
      <%= form.submit 'Submit' %>
    </div>
  </div>
<% end %>
