<%= form_with(model: @investment, url: admin_investments_path) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @investment } %>

  <div>
    <%= form.hidden_field :approver_id, value: @approver_id %>
    
    <div class='flex'>
    <p>Cadastrar investimento</p>
    <p>Adicione um investimo ao catalógo. Lembre-se de marcar caso seja apenas para usuários premium!</p>
    </div>
    
    <div class='flex'>
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, placeholder: 'Digite o nome do investimento', class:  %>
    </div>

    <div class='flex'>
      <%= form.label :minimum_amount, 'Valor mínimo' %>
      <%= form.number_field :minimum_amount, min: 100, placeholder: '100,00' %>
    </div>

    <div class='flex'>
      <%= form.label :start_date, 'Data de início' %>
      <%= form.date_field :start_date, min: Date.current %>
    </div>

    <div class='flex'>
      <%= form.label :expiration_date, 'Data de vencimento' %>
      <%= form.date_field :expiration_date, min: Date.current + 1 %>
    </div>

    <div class='flex'>
      <%= form.label 'Indexador' %>
      <%= form.collection_select(:indicator_id, Indicator.all, :id, :name_with_rate, { prompt: 'Selecione...' }) %>
    </div>

    <div>
      <%= form.label :premium, 'Esse é um investimento premium?' %>
      <%= form.check_box :premium %>
    </div>

    <div>
      <%= link_to "Cancelar", admin_investments_path %>
      <%= form.submit 'Salvar' %>
    </div>
  </div>
<% end %>
