<div>
  <div>
    <%= link_to "New Investment", new_admin_investment_path(@investment) %>
  </div>
  <table>
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor mínimo</th>
        <th scope="col">Data de estréia</th>
        <th scope="col">Data de vencimento</th>
        <th scope="col">Indexador</th>
        <th scope="col">Tipo</th>
        <th scope="col">+</th>
      </tr>
    </thead>
    <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.id %></td>
        <td><%= investment.name %></td>
        <td><%= investment.minimum_amount %></td>
        <td><%= investment.start_date %></td>
        <td><%= investment.expiration_date %></td>
        <td><%= investment.indicator.rate %></td>
        <td>
          <% if investment.premium %>
            Free
          <% else %>
            Premium
          <% end %>
        </td>
        <td>
          <%= link_to "Details", admin_investment_path(investment) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>