<div>
  <div>
    <%= link_to t('.new_investment'), new_admin_investment_path(@investment) %>
  </div>

  <%= search_form_for @q, url: admin_investments_path do |f| %>
    <%= f.label :name_cont, 'Nome:' %>
    <%= f.search_field :name_cont %>

    <%= f.label :minimum_amount_gteq, 'Valor Mínimo Maior ou Igual a:' %>
    <%= f.search_field :minimum_amount_gteq %>

    <%= f.label :indicator_rate_gteq, 'Valor indexador:' %>
    <%= f.search_field :indicator_rate_gteq %>

    <%= f.label :premium_eq, 'Premium:' %>
    <%= f.check_box :premium_eq %>

    <%= f.label :expiration_date_eq, 'Data de Vencimento:' %>
    <%= f.date_field :expiration_date_eq %>

    <%= f.submit %>
    <%= button_tag 'Limpar Filtros', type: :button, onclick: 'window.location.href = window.location.pathname' %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('.name') %></th>
        <th scope="col"><%= t('.minimum_amount') %></th>
        <th scope="col"><%= t('.start_date') %></th>
        <th scope="col"><%= t('.expiration_date') %></th>
        <th scope="col"><%= t('.index') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.name %></td>
        <td><%= investment.minimum_amount %></td>
        <td><%= investment.start_date %></td>
        <td><%= investment.expiration_date %></td>
        <td><%= investment.indicator.rate %></td>
        <td><%= investment.premium ? 'Premium' : 'Free' %>
        </td>
        <td>
          <%= link_to t('.details'), admin_investment_path(investment) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
