<div>
  <div>
    <%= link_to t('.new_investment'), new_admin_investment_path(@investment) %>
  </div>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('.name') %></th>
        <th scope="col"><%= t('.minimum_amount') %></th>
        <th scope="col"><%= t('.start_date') %></th>
        <th scope="col"><%= t('.expiration_date') %></th>
        <th scope="col"><%= t('.index') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.name %></td>
        <td><%= investment.minimum_amount %></td>
        <td><%= investment.start_date %></td>
        <td><%= investment.expiration_date %></td>
        <td><%= investment.indicator.rate %></td>
        <td>
          <% if investment.premium %>
            Free
          <% else %>
            Premium
          <% end %>
        </td>
        <td>
          <%= link_to t('.details'), admin_investment_path(investment) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
