<div>
  <h3>Investment Data</h3>
</div>
<div>
  <dl>
    <div>
      <dt>Name</dt>
      <dd><%= @investment.name%></dd>
    </div>
    <div>
      <dt>Minimum amount</dt>
      <dd><%= @investment.minimum_amount  %></dd>
    </div>
    <div>
      <dt>Start Date</dt>
      <dd><%= @investment.start_date %></dd>
    </div>
    <div>
      <dt>Expiration Date</dt>
      <dd><%= @investment.expiration_date %></dd>
    </div>
      <div>
      <dt>Rate</dt>
      <dd><%= @investment.indicator.rate %></dd>
    </div>
      <div>
      <dt>Category</dt>
      <dd> 
        <% if @investment.premium %>
          Free
        <% else %>
          Premium
        <% end %></dd>
    </div>
  </dl>
</div>

<div>
  <%= button_to "Delete", admin_investment_path(@investment), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  <%= link_to "Back", admin_investments_path %>
</div>
