<div>
  <table>
    <tr>
      <th>Nome</th>
      <td><%= @investment.name %></td>
    </tr>
    <tr>
      <th>Valor mínimo</th>
      <td><%= @investment.minimum_amount %></td>
    </tr>
    <tr>
      <th>Data de estréia</th>
      <td><%= @investment.start_date %></td>
    </tr>
    <tr>
      <th>Data de vencimento</th>
      <td><%= @investment.expiration_date %></td>
    </tr>
    <tr>
      <th>Indexador</th>
      <td><%= @investment.indicator.rate %></td>
    </tr>
    <tr>
      <th>Tipo</th>
      <td>
        <% if @investment.premium %>
          Free
        <% else %>
          Premium
        <% end %>
      </td>
    </tr>
  </table>
  
  <div>
    <%= button_to "Excluir", admin_investment_path(@investment), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    <%= link_to "Voltar a investimentos", admin_investments_path %>
  </div>
  
</div>

