<div>
  <h3><%= t('.investment_data') %></h3>
</div>
<div>
  <dl>
    <div>
      <dt><%= t('.name') %></dt>
      <dd><%= @investment.name%></dd>
    </div>
    <div>
      <dt><%= t('.minimum_amount') %></dt>
      <dd><%= @investment.minimum_amount  %></dd>
    </div>
    <div>
      <dt><%= t('.start_date') %></dt>
      <dd><%= @investment.start_date %></dd>
    </div>
    <div>
      <dt><%= t('.expiration_date') %></dt>
      <dd><%= @investment.expiration_date %></dd>
    </div>
      <div>
      <dt><%= t('.rate') %></dt>
      <dd><%= @investment.indicator.rate %></dd>
    </div>
      <div>
      <dt><%= t('.category') %></dt>
      <dd> 
        <% if @investment.premium %>
          Free
        <% else %>
          Premium
        <% end %></dd>
    </div>
  </dl>
</div>

<div>
  <%= button_to t('.delete'), admin_investment_path(@investment), data: { turbo_confirm: t('.confirm_pop') }, method: :delete %>
  <%= link_to t('.back'), admin_investments_path %>
</div>
