<%= render 'shared/errors', object: @user_investment %>

<div>
  <%= label_tag t('.name') %>
  <%= @investment.name %>
</div>
<div>
  <%= label_tag t('.min_amount') %>
  <%= @investment.minimum_amount %>
</div>
<div>
  <%= label_tag t('.expiration_date') %>
  <%= @investment.expiration_date %>
</div>
<div>
  <%= label_tag 'Index' %>
  <%= @investment.indicator.rate %>
</div>
<div>
  <%= label_tag t('.category') %>
  <%= @investment.premium ? 'Premium' : 'Free'%>
</div>
<div>
  <%= label_tag 'Balance Account:' %>
  <%= current_user.account.balance %>
</div>

<%= form_with(model: @user_investment, url: user_investments_path(investment_id: @investment.id), data: { turbo: false }) do |form| %>
  <div>
    <%= form.label t('.initial_amount') %>
    <%= form.number_field :initial_amount, min: 0 %>
  </div>
  <div>
    <%= form.submit t('.buy') %>
    <%= link_to "Voltar", catalogs_path %>
  </div>
<% end %>