<h1><%= t('.investment_title') %></h1>
<div>
  <%= link_to t('.new_investment'), new_user_investment_path(@user_investment) %>
</div>
<table>
  <thead>
    <tr>
      <th scope="col"><%= t('.name') %></th>
      <th scope="col"><%= t('.min_amount') %></th>
      <th scope="col"><%= t('.expiration_date') %></th>
      <th scope="col"><%= t('.category') %></th>
      <th scope="col"><%= t('.profit') %></th> 
      <th scope="col"><%= t('.purchase_date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_investments.each do |inv| %>
      <tr>
        <td><%= inv.investment.name %></td>
        <td><%= inv.investment.minimum_amount %></td>
        <td><%= inv.investment.expiration_date %></td>
        <td><%= inv.investment.premium ? 'Premium' : 'Free' %> 
        <td><%= inv.profit || 0 %></td>
        <td><%= inv.created_at.strftime('%d/%m/%y') %></td>
        <td><%= button_to t('.rescue'), inv, data: { turbo_confirm: t('.confirm_pop') }, method: :delete %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>