<h1>User Investments</h1>
<%= link_to 'Investments Catalog', catalogs_path %>
<table>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Minimum Amount</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Index</th>
      <th scope="col">Category</th>
      <th scope="col">Profit</th> 
      <th scope="col">Purchase Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user_investments.each do |investment| %>
      <tr>
        <td><%= investment.id %></td>
        <td><%= investment.investment.name %></td>
        <td><%= investment.investment.minimum_amount %></td>
        <td><%= investment.investment.expiration_date %></td>
        <td><%= investment.investment.indicator.rate %></td> 
        <td><%= investment.investment.premium ? 'Premium' : 'Free' %> 
        <td><%= investment.profit || 0 %></td>
        <td><%= investment.created_at.strftime('%d/%m/%y') %></td>
        <td><%= link_to "Detalhes", user_investment_path(investment) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>