<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>
  <%= form.hidden_field :reset_password_token %>
  <div class='users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'><%= t('users.passwords.edit.title') %></h1>
      <p class='users-form-subtitle'><%= t('users.passwords.edit.subtitle') %></p>
    </div>

    <div data-controller="password-visibility" class="users-input-container">
      <%= form.label t('users.form.new_password'), class: 'users-input-label' %>
      <div class="users-input-group">
        <%= form.password_field :password, autocomplete: "new-password",placeholder: t('users.form.new_password_placeholder'), data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>
    <span class='text-xs'><%= t('users.form.password_rules') %></span>

    <div data-controller="password-visibility" class="users-input-container">
      <%= form.label t('users.form.confirm_new_password'), class: 'users-input-label' %>

      <div class="users-input-group">
        <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('users.form.confirm_new_password_placeholder'), data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>

    <%= form.button class: 'users-form-submit-container' do %>
      <div class='w-4 h-8'></div>
      <span><%= t('users.passwords.edit.submit') %></span>
      <div class='w-4 h-8'></div>
    <% end %>

    <div class='flex items-end gap-1 text-sm justify-start'>
      <span><%= t('users.form.remembered_password') %></span>
      <%= link_to t('users.form.make_login'), new_user_session_path, class: "users-form-link" %>
    </div>
  </div>
<% end %>
