<h2>Forgot your password?</h2>

<%= form_for(resource, url: user_password_path, html: { method: :post }) do |f| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>

  <div class="field">
    <%= f.label :email, class: "input-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
