<%= form_for(resource, url: user_password_path, html: { method: :post }) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>
  <div class='users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'><%= t('users.passwords.new.title') %></h1>
      <p class='users-form-subtitle'><%= t('users.passwords.new.subtitle') %></p>
    </div>
    <div class='users-form-container'>
      <div class="users-form-field">
        <%= form.label t('users.form.email'), class: 'users-input-label' %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'users-input-field', placeholder: t('users.form.email_placeholder') %>
      </div>

      <%= form.button class: 'users-form-submit-container' do %>
        <div class='w-4 h-8'></div>
        <span><%= t('users.passwords.new.submit')%></span>
        <div class='w-4 h-8'></div>
      <% end %>

      <div class='flex items-end justify-start gap-1 text-sm'>
        <span><%= t('users.form.remembered_password') %></span>
        <%= link_to t('users.form.make_login'), new_user_session_path, class: "users-form-link" %>
      </div>
    </div>
  </div>
<% end %>
