<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @user } %>
  <div class='py-4 users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'><%= t('users.edit.title') %></h1>
      <p class='users-form-subtitle'><%= t('users.edit.subtitle') %></p>
    </div>
    <div class='flex flex-col gap-2'>
      <div class='admin-list-item'>
        <span class='font-bold'><%= t('.name') %></span>
        <span><%= @user.name %></span>
      </div>
      <div class='admin-list-item'>
        <span class='font-bold'><%= t('users.form.email') %></span>
        <span><%= @user.email %></span>
      </div>
      <div class='admin-list-item'>
        <span class='font-bold'><%= t('users.form.email_confirmed') %></span>
        <% if @user.confirmed_at %>
          <span><%= t('users.form.yes') %></span>
        <% else %>
          <span><%= t('users.form.no') %></span>
        <% end %>
      </div>
      <div class='admin-list-item'>
        <span class='font-bold'><%= t('users.form.register_date') %></span>
        <span><%= @user.created_at.strftime('%d/%m/%Y') %></span>
      </div>
      <div class='admin-list-item'>
        <span class='font-bold'><%= t('users.form.user') %></span>
        <% if @user.free? %>
          <span><%= t('users.form.free') %></span>
        <% else %>
          <span><%= t('users.form.premium') %></span>
        <% end %>
      </div>

      <div class="admin-list-item">
        <%= form.label t('users.form.role_admin_label'), class: "font-bold" %>
        <%= form.check_box :role_admin, checked: @user.admin?, class: 'users-checkbox-field' %>
      </div>

      <div>
        <%= form.label :classroom_id, class: 'users-input-label' %>
        <%= form.collection_select :classroom_id, Classroom.all, :id, :name, { prompt: t('classrooms.form.select_classroom') }, { class: 'users-select-field' } %>
      </div>

      <% form.hidden_field :name, value: @user.name %>
      <% form.hidden_field :cpf, value: @user.cpf %>
      <% form.hidden_field :email, value: @user.email %>

      <%= form.button class: 'users-form-submit-container' do %>
        <div class='w-4 h-8'></div>
        <span><%= t('users.form.save') %></span>
        <div class='w-4 h-8'></div>
      <% end %>
    <% end %>
