<%= form_for(@admin, url: admin_update_path, html: { method: :patch }) do |form| %>
<%= render partial: 'shared/notifications/form_errors', locals: { object: @admin } %>
  <div class='users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'>Editar cadastro</h1>
    </div>

    <div class="users-form-field">
      <%= form.label :name, class: 'users-input-label' %>
      <%= form.text_field :name, autofocus: true, autocomplete: "name", class: 'users-input-field', placeholder: 'Digite seu nome' %>
    </div>

    <div class="users-form-field">
      <%= form.label "E-mail", class: 'users-input-label' %>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'users-input-field', placeholder: 'Digite seu e-mail' %>
    </div>

    <div class='flex justify-between gap-6'>
      <div data-controller="password-visibility" class="users-input-container">
        <%= form.label 'Nova senha', class: 'users-input-label' %>
        <div class="users-input-group">
          <%= form.password_field :password, autocomplete: "new-password",placeholder: 'Digite sua nova senha', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

          <button type="button" data-action="password-visibility#toggle">
            <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
            <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
          </button>
        </div>
      </div>

      <div data-controller="password-visibility" class="users-input-container">
        <%= form.label 'Confirme a nova senha', class: 'users-input-label' %>

        <div class="users-input-group">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirme sua nova senha', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

          <button type="button" data-action="password-visibility#toggle">
            <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
            <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
          </button>
        </div>
      </div>
    </div>
    <span class='text-xs'>Utilize 8 caracteres entre letras, números e caracter especial</span>

    <div data-controller="password-visibility" class="users-input-container">
      <%= form.label :current_password, class: 'users-input-label' %>

      <div class="users-input-group">
        <%= form.password_field :current_password, class: 'users-input-field', autocomplete: "current-password", placeholder: 'Digite sua senha atual para prosseguir', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>

      <%= form.button class: 'users-form-submit-container' do %>
        <div class='w-4 h-8'></div>
        <span>Salvar</span>
        <div class='w-4 h-8'></div>
      <% end %>
  </div>
<% end %>
