<h1>Edit User</h1>

<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @user } %>

  <div class="users-form-field">
    <%= form.label :role, class: 'users-input-label' %>
    <%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, { include_blank: false, selected: @user.role || 'free'}, { class: 'users-select-field' } %>
  </div>

  <div>
    <%= form.label :classroom_id, class: 'users-input-label' %>
    <%= form.collection_select :classroom_id, Classroom.all, :id, :name, { prompt: "Select a Classroom" }, { class: 'users-select-field' } %>
  </div>

  <% form.hidden_field :name, value: @user.name %>
  <% form.hidden_field :cpf, value: @user.cpf %>
  <% form.hidden_field :email, value: @user.email %>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>
