<h1>Edit User</h1>

<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |form| %>
  <%= render partial: 'shared/errors', locals: { object: @user } %>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, User.roles.keys, { include_blank: false, selected: @user.role || 'free' } %>
  </div>

  <div>
    <%= form.label :classroom_id %>
    <%= form.collection_select :classroom_id, Classroom.all, :id, :name, { prompt: "Select a Classroom" }, { include_blank: 'Nenhuma turma selecionada' } %>
  </div>

  <% form.hidden_field :name, value: @user.name %>
  <% form.hidden_field :cpf, value: @user.cpf %>
  <% form.hidden_field :email, value: @user.email %>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>
