<%= form_for(@admin, url: admin_update_path, html: { method: :patch }) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: @admin } %>
  <div class='users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'>t('.title_edit')</h1>
    </div>

    <div class='users-form-field'>
      <%= form.label t('.name'), class: 'users-input-label' %>
      <%= form.text_field :name, autofocus: true, autocomplete: 'name', class: 'users-input-field' %>
    </div>

    <div class='users-form-field'>
      <%= form.label t('.cpf'), class: 'users-input-label' %>
      <%= form.text_field :cpf, autofocus: true, class: 'users-input-field' %>
    </div>

    <div data-controller="password-visibility" class="input-container">
      <%= form.label :password, class: "input-label" %><i>(<%= t('.leave_black') %>)</i>

      <div class="input-group">
        <%= form.password_field t('.password'), autocomplete: "new-password", data: { password_visibility_target: "input" }, spellcheck: false, class: "input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'input-inside-button', class: 'hidden' %>
        </button>
      </div>
      <% if @minimum_password_length %>

        <em><%= @minimum_password_length %> <%= t('.minimum_caracters')%></em>
      <% end %>
    </div>

    <div data-controller="password-visibility" class="input-container">
      <%= form.label t('.password_confirmation'), class: "input-label" %>

      <div class="users-input-group">
        <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirme sua nova senha', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>
  </div>
  <span class='text-xs'>Utilize 8 caracteres entre letras, números e caracter especial</span>

  <div data-controller="password-visibility" class="users-input-container">
    <%= form.label :current_password, class: 'users-input-label' %>

    <div class="users-input-group">
      <%= form.password_field :current_password, class: 'users-input-field', autocomplete: "current-password", placeholder: 'Digite sua senha atual para prosseguir', data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

      <button type="button" data-action="password-visibility#toggle">
        <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
        <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
      </button>
    </div>
  </div>

  <div class='flex justify-between items-center w-full gap-6'>
    <%= button_to admin_destroy_path, method: :delete, class: 'users-button-danger', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
      <div class='w-4 h-8'></div>
      Deletar conta
      <div class='w-4 h-8'></div>
    <% end %>
    <%= form.button class: 'users-form-submit-container' do %>
      <div class='w-4 h-8'></div>
      <span><%= t('.submit') %></span>
      <div class='w-4 h-8'></div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
