<%= render 'shared/notifications/form_errors', object: @transaction %>

<div class='w-auto mx-auto'>
  <div class='text-center'>
    <%= current_user.balance %>
  </div>
  <%= form_with(model: @transaction, data: { turbo: false }) do |form| %>
    <div>
      <%= form.label :amount, class:'input-label' %>
      <%= form.number_field :amount, step: 0.01, placeholder: t('.placeholder_amount'), class: 'input-field' %>
    </div>
    <div>
      <%= form.label :receiver_cpf, class:'input-label' %>
      <em><%= form.number_field :receiver_cpf, step: 0.01, placeholder: t('.placeholder_receiver_cpf'), class: 'input-field' %></em>
    </div>
    <div class='action'>
      <%= form.submit t('.next'), class: 'button-primary' %>
      <%= link_to t('.cancel'), transactions_path, class: 'button-primary' %>
    </div>
  <% end %>
</div>
