<%= render 'shared/errors', object: @transaction %>
<hr><%= current_user.name %><br>
<%= number_with_precision(current_user.account.balance, precision: 2) %> RaraCoins

<%= form_with model: @transaction, data: { turbo: false } do |form| %>
  <li><%= form.number_field :amount, step: 0.01, placeholder: 'Amount...' %></li>
  <li><%= form.text_field :receiver_cpf, value: @receiver_cpf, placeholder: 'CPF receiver...' %></li>
  <hr>
  <%= form.submit 'Next' %>
  <%= link_to 'Cancel', transactions_path %>
<% end %>
