<%= render 'shared/notifications/form_errors', object: @transaction %>

<div class='table-view'>
  <div class='w-1/2 px-10 py-6 mx-auto mt-5 bg-white border shadow-md border-primary-200 rounded-xl '>
    <div class='flex justify-between'>
      <div class="relative mx-2 mt-2 mb-2 text-lg font-extrabold text-primary-600">
        <%= t('.transfer_title') %>
      </div>
      <div class="flex items-center">
        <div class="mx-2 text-primary-600">
          <%= inline_svg_tag 'icons/outline/currency-dolar.svg'%>
        </div>
        <div class="text-xl font-extrabold text-primary-600 ">
          <%= number_to_currency(current_user.balance) %>
        </div>
      </div>
    </div>

    <div class='flex justify-center mx-2 text-primary-600'>
      <%= t('.legends_new_transfer') %>
    </div>

    <div>
      <%= form_with(model: @transaction, data: { turbo: false }) do |form| %>
        <div>
          <%= form.number_field :amount, step: 0.01, placeholder: t('.placeholder_amount'), class: 'input-group-transfer' %>
        </div>
        <div>
          <%= form.number_field :receiver_cpf, value: @receiver_cpf, placeholder: t('.placeholder_receiver_cpf'), class: 'input-group-transfer' %>
        </div>
        <div>
          <%= form.submit t('.next'), class: 'button-primary-transfer' %>
        </div>
      <% end %>

      <div class=''>
        <div>
          <%= link_to t('.contacts'), accounts_path, class: 'button-primary-transfer' %>
        </div>
        <div>
          <%= link_to t('.cancel'), transactions_path, class: 'button-primary-transfer' %>
        </div>
      </div>
    </div>
  </div>
