<%= link_to t('.new_transfer'), new_transaction_path %>

<table>
  <thead>
    <tr>
      <th><%= t('.value') %></th>
      <th><%= t('.status_label') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= t("activerecord.attributes.transaction.status_enum.#{transaction.status}") %></td>
      <td><%= link_to t('.confirm'), edit_transaction_path(transaction) %></td>
    </tr>
    <% end %>
  </tbody>
</table>