<div class='flex flex-col items-baseline w-full h-full gap-6 px-16 py-8'>
  <div class="flex items-center justify-between w-full">
    <div class='flex flex-row items-center gap-4 text-primary-600'>
      <span><%= t('users.balance') %></span>
      <strong class='text-4xl font-bold'>
        <%= number_with_precision(current_user.balance, precision: 2) %>
      </strong>
      <%= inline_svg_tag 'icons/outline/currency-dolar.svg', class:'text-primary-600 h-6 w-6' %>
    </div>
    <div class='flex flex-row items-center gap-4'>
      <%= inline_svg_tag 'icons/solid/token-swap-line.svg' %>
      <%= link_to t('.new_transfer'), new_transaction_path, class: 'text-button-transfer-large' %>
    </div>
  </div>

  <% if @transactions.empty? %>
    <div class='user-list-item'>
      <span class='m-2'><%= t('users.form.empty') %></span>
    </div>
  <% else %>
    <% @transactions.each do |transaction| %>
      <div class='justify-between container-transfer'>
        <div class='flex items-center gap-4'>
          <div class='user-list-item-icon'>
            <%= inline_svg_tag 'icons/solid/arrow-up-down.svg', class: 'text-primary-100 ' %>
          </div>
          <span class='text-primary-700'>
            <%= transaction.receiver.user.name %>
          </span>
          <span class='user-list-item-tag'>
            <%= t("activerecord.attributes.transaction.status_enum.#{transaction.status}") %>
          </span>
          <% if transaction.status == 'started' %>
            <%= link_to t('.confirm'), edit_transaction_path(transaction), class: 'user-simple-link' %>
          <% end %>
        </div>
        <div class='flex items-center gap-10'>
          <div class='flex gap-4 text-primary-600'>
            <%= inline_svg_tag 'icons/solid/data-icon.svg', class: 'text-secondary-600 mx-2' %>
            <%= l(transaction.created_at, format: :custom) %>
          </div>
          <div class='flex-1 text-xl text-button-transfer'>
            <%= number_to_currency(transaction.amount) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
