<div class='table-view'>
  <div class="w-full flex justify-end items-center">
    <%= inline_svg_tag 'icons/solid/token-swap-line.svg' %>
    <%= link_to t('.new_transfer'), new_transaction_path, class: 'text-button-transfer-large' %>
  </div>
  <% if @transactions.empty? %>
    <div class='user-list-item'>
      <span class='m-2'><%= t('users.form.empty') %></span>
    </div>
  <% else %>
    <% @transactions.each do |transaction| %>
      <div class='user-list-container'>
        <div class='container-transfer'>
            <div class='user-list-item-icon mr-4'>
              <%= inline_svg_tag 'icons/solid/arrow-up-down.svg', class: 'text-primary-100 ' %>
            </div>
              <%= transaction.receiver.user.name %>
            <div class='flex-1 text-primary-600'>
            </div>
            <div class='flex-1 text-button-transfer'>
              R$ <%= number_with_precision(transaction.amount, precision: 2) %>
            </div>
            <div>
              <%= inline_svg_tag 'icons/solid/data-icon.svg', class: 'text-secondary-600 mx-2' %>
            </div>
            <div class='flex-1 text-primary-600'>
              <%= transaction.created_at.strftime("%d/%m/%Y às %H:%M") %>
            </div>
              <%= link_to t('.confirm'), edit_transaction_path(transaction), class: 'confirm-button-transfer' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>