<h2>Transferência #<%= @transaction.id %>
<%= link_to 'Back', transactions_path %><%= button_to 'Resend authenticated code', resend_email_transaction_path(@transaction), method: :post %>
</h2> 
<table>
  <thead>
    <tr>
      <th>| Valor</th>
      <th>| Status</th>
      <th>| Destinatário</th>
      <th>| Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>| <%= @transaction.amount %></td>
      <td>| <%= @transaction.status %></td>
      <td>| <%= @transaction.receiver.user.name %></td>
      <td>| <%= @transaction.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
    </tr>
  </tbody>
</table>