<!DOCTYPE html>
<html class="bg-primary-200 font-admin">
  <head>
    <title>RaroBank  - Admnistrativo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col justify-between h-screen">
    <% if user_signed_in? %>
      <%= render 'admin/navbar' %>
    <% end %>

    <%= render partial: "shared/notifications/success", locals: { message: flash[:notice] } %>
    <%= render partial: "shared/notifications/error", locals: { message: flash[:alert] } %>

    <main class='w-full h-max flex flex-1 items-center justify-center'>
      <%= yield %>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
