<!DOCTYPE html>
<html>
  <head>
    <title>RaroAcademyBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-slate-600">
    <h1>LAYOUT ADMIN</h1>

    <%= render partial: "shared/notifications/success", locals: { message: flash[:notice] } %>
    <%= render partial: "shared/notifications/error", locals: { message: flash[:alert] } %>

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
