<div class='flex flex-col items-baseline w-full h-full gap-6 px-16 py-8'>
  <div class="flex items-center justify-between w-full">
    <div class='flex flex-row items-center gap-4 text-primary-600'>
      <span><%= t('users.balance') %></span>
      <strong class='text-4xl font-bold'>
        <%= number_with_precision(current_user.balance, precision: 2) %>
      </strong>
      <%= inline_svg_tag 'icons/outline/currency-dolar.svg', class:'text-primary-600 h-6 w-6' %>
    </div>
    <div class='flex flex-row items-center gap-4'>
      <span class='text-2xl font-bold text-primary-600'><%= t('users.contacts') %></span>
      <%= inline_svg_tag 'icons/outline/user.svg', class: 'text-primary-600' %>
    </div>
  </div>

  <% if current_user.account.sender_transactions.empty? %>
    <div class='user-list-item'>
      <span class='m-2'><%= t('users.contacts_empty') %></span>
    </div>
  <% else %>
    <% current_user.account.sender_transactions.each do |transaction| %>
      <%= link_to new_transaction_path(receiver_cpf: transaction.receiver.user.cpf), class:'user-contacts-container justify-between' do %>
        <div class='flex items-center gap-4'>
          <div class='user-list-item-icon'>
            <%= inline_svg_tag 'icons/solid/arrow-up-down.svg', class: 'text-primary-100 ' %>
          </div>
          <span class='text-primary-700'>
            <%= transaction.receiver.user.name %>
          </span>
        </div>
        <div class='flex gap-10'>
          <div class='flex gap-4 text-primary-600'>
            <%= inline_svg_tag 'icons/solid/data-icon.svg', class: 'text-secondary-600 mx-2' %>
            <%= transaction.created_at.strftime("%d/%m/%Y às %H:%M") %>
          </div>
          <div class='flex-1 text-xl text-button-transfer'>
            <%= number_to_currency(transaction.amount) %>
          </div>
          <%= inline_svg_tag 'icons/outline/arrow-right.svg', class: 'text-primary-600 mx-2' %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
