<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= render partial: 'shared/notifications/form_errors', locals: { object: resource } %>
  <div class='users-form-container'>
    <div class='users-form-title-container'>
      <h1 class='users-form-title'><%= t('users.registrations.edit.title') %></h1>
    </div>

    <div class='flex justify-between gap-1'>
      <div class="users-form-field">
        <%= form.label :name, class: 'users-input-label' %>
        <%= form.text_field :name, autofocus: true, autocomplete: "name", class: 'users-input-field', placeholder: t('users.form.name_placeholder') %>
      </div>

      <div class="users-form-field">
        <div class='flex items-center justify-between'>
          <%= form.label :cpf, class: 'users-input-label uppercase' %>
          <span class='text-xs'><%= t('users.form.cpf_rules') %></span>
        </div>
        <%= form.text_field :cpf, autofocus: true, class: 'users-input-field', placeholder: t('users.form.cpf_placeholder') %>
      </div>
    </div>

    <div class="users-form-field">
      <%= form.label  t('users.form.email'), class: 'users-input-label' %>
      <%= form.email_field :email, autofocus: true, disabled: true, autocomplete: "email", class: 'users-input-field', placeholder:  t('users.form.email_placeholder') %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class='flex justify-between gap-6'>
      <div data-controller="password-visibility" class="users-input-container">
        <%= form.label 'Nova senha', class: 'users-input-label' %>
        <div class="users-input-group">
          <%= form.password_field :password, autocomplete: "new-password", placeholder: t('users.form.new_password_placeholder'), data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

          <button type="button" data-action="password-visibility#toggle">
            <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
            <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
          </button>
        </div>
      </div>

      <div data-controller="password-visibility" class="users-input-container">
        <%= form.label 'Confirme a nova senha', class: 'users-input-label' %>

        <div class="users-input-group">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('users.form.confirm_new_password_placeholder'), data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

          <button type="button" data-action="password-visibility#toggle">
            <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
            <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
          </button>
        </div>
      </div>
    </div>
    <span class='text-xs'><%= t('users.form.password_rules') %></span>

    <div data-controller="password-visibility" class="users-input-container">
      <%= form.label t('users.form.current_password'), class: 'users-input-label' %>

      <div class="users-input-group">
        <%= form.password_field :current_password, class: 'users-input-field', autocomplete: "current-password", placeholder: t('users.form.current_password_placeholder'), data: { password_visibility_target: "input" }, spellcheck: false, class: "users-input-inside" %>

        <button type="button" data-action="password-visibility#toggle">
          <%= inline_svg_tag 'icons/solid/eye.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button' %>
          <%= inline_svg_tag 'icons/solid/eye-slash.svg', data: { password_visibility_target: "icon" }, class: 'users-input-inside-button', class: 'hidden' %>
        </button>
      </div>
    </div>

    <div class='flex justify-between items-center w-full gap-6'>
      <%= button_to registration_path(resource_name), method: :delete, class: 'users-button-danger', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
        <div class='w-4 h-8'></div>
          <%= t('users.form.delete') %>
        <div class='w-4 h-8'></div>
      <% end %>
      <%= form.button class: 'users-form-submit-container' do %>
        <div class='w-4 h-8'></div>
          <%= t('users.form.save') %>
        <div class='w-4 h-8'></div>
      <% end %>
    </div>
  </div>
<% end %>
